<div class="card">
  <div class="card-preview">
    <img
      [src]="isValidPoster(content().poster) ? content().poster : '/images/placeholder.webp'"
      [alt]="content().title"
      class="preview"
      loading="lazy"
    >

    <app-bookmark-button [content]="content()"/>

    <div class="play-but">
      <app-play-button [content]="content()"/>
    </div>

  </div>
  <div class="card-content">
    <div class="card-meta">
      <span>{{ content().release }}</span>
      <span>•</span>
      <img src="/icons/{{content().type}}.svg" alt="{{ content().type | titlecase}}">
      <span>{{ content().type }}</span>
      <span>•</span>
      <span>PG</span>
    </div>
    <h3 class="card-title">{{ content().title }}</h3>
  </div>
</div>
