<div class="card">
  <img
       [src]="isValidPoster(content().poster) ? content().poster : '/images/placeholder.webp'"
       alt="{{content().title}}"
       class="poster"
       loading="lazy"
  />
  <app-bookmark-button [content]="content()" role="button" tabindex="0"/>
  <div class="overlay"></div>

  <div class="play-but">
    <app-play-button [content]="content()" role="button" tabindex="0"/>
  </div>

  <div class="card-details">
    <div class="card-meta">
      <span>{{ content().release }}</span>
      <span>•</span>
      <img src="/icons/{{content().type}}.svg" alt="{{ content().type | titlecase}}">
      <span>{{ content().type }}</span>
      <span>•</span>
      <span>PG</span>
    </div>
    <h3 class="card-title">{{ content().title }}</h3>
  </div>
</div>
