<div class="navigation-bar">
  <div class="logo-container">
    <a routerLink="/">
      <img src="/icons/logo.svg" alt="CinemaHub">
    </a>
  </div>
  <div class="nav-container">
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <img src="/icons/nav-home.svg" alt="Home page">
    </a>
    <a routerLink="/movies" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <img src="/icons/nav-movie.svg" alt="Movie page">
    </a>
    <a routerLink="/series" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <img src="/icons/nav-series.svg" alt="Series page">
    </a>
    <a routerLink="/bookmarks" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <img src="/icons/nav-bookmark.svg" alt="Bookmark page">
    </a>
  </div>
  <div class="user-container">
    <div class="user">

    </div>
  </div>
</div>
