.trending-block {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 0 24px;

  .title {
    margin: 0 0 16px 0;
  }
}

.title {
  margin: 0 0 24px 0;
  font-size: 24px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .trending-block {
    padding: 0 0 40px;
  }

  .title {
    margin: 0 0 24px 0;
    font-size: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    margin: 0 0 38px 0;
    font-size: 40px;
  }
}
