<div class="card">
  <div class="card-preview">
    <img
      [src]="isValidPoster(content().poster) ? content().poster : '/images/placeholder.webp'"
      [alt]="content().title"
      class="preview"
      loading="lazy"
    >
    <div class="bookmark-icon">
      <img src="/icons/bookmark.svg" alt="Bookmark">
    </div>
    <div class="play-icon" [routerLink]="['/', content().type + 's', content().id]">
      <img src="/icons/play.svg" alt="Play">
      <span>Play</span>
    </div>
  </div>
  <div class="card-content">
    <div class="card-meta">
      <span>{{ content().release_date }}</span>
      <span>•</span>
      <img src="/icons/{{content().type}}.svg" alt="{{ content().type | titlecase}}">
      <span>{{ content().type }}</span>
      <span>•</span>
      <span>PG</span>
    </div>
    <h3 class="card-title">{{ content().title }}</h3>
  </div>
</div>
